<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="/Content/HomepageCss/main.css" rel="stylesheet" />
    <link href="/Content/HomepageCss/template.css" rel="stylesheet" />
    <link href="/Content/HomepageCss/system.css" rel="stylesheet" />
    <link href="/Content/HomepageCss/general.css" rel="stylesheet" />
   
</head>
<body>
<div id="main_wrapper">
    <div class="content-wrapper home-content-wrapper">
        @RenderBody()
        <hr/>

        <footer>
            <p align="center">
                <span>Copyright &copy; @DateTime.Now.Year <a target="_blank" href="http://www.unitedwomensacco.co.ke/" style="padding-left: 5px"> United Women Sacco Society </a></span><span> | </span>
                <span> Powered by: <a target="_blank" href="http://surestep.co.ke" style="padding-right: 5px">Surestep Systems and Solutions</a></span>
            </p>
        </footer>
    </div>
</div>

<script src="/Scripts/HomepageJS/jquery.min.js" type="text/javascript"></script>
<script src="/Scripts/HomepageJS/jquery-noconflict.js" type="text/javascript"></script>
<script src="/Scripts/HomepageJS/jquery-migrate.min.js"></script>
<script src="/Scripts/HomepageJS/caption.js"></script>
<script src="/Scripts/HomepageJS/html5fallback.js"></script>
<script src="/Scripts/HomepageJS/modernizr.custom.js"></script>
<script src="/Scripts/HomepageJS/jquery-ui.min.js"></script>
<script src="/Scripts/HomepageJS/jquery.cycle2.min.js"></script>
<script src="/Scripts/HomepageJS/jquery.placeholder.min.js"></script>
<script src="/Scripts/HomepageJS/jquery.responsiveTabs.min.js"></script>
<script src="/Scripts/HomepageJS/jquery.webticker.min.js"></script>
<script src="/Scripts/HomepageJS/jquery.selectric.min.js"></script>
<script src="/Scripts/HomepageJS/rangeslider.min.js"></script>
<script src="/Scripts/HomepageJS/masonry.pkgd.min.js"></script>
<script src="/Scripts/HomepageJS/imagesloaded.pkgd.min.js"></script>
<script src="/Scripts/HomepageJS/classie.js"></script>
<script src="/Scripts/HomepageJS/subscribe.js"></script>
<script src="/Scripts/HomepageJS/AnimOnScroll.js"></script>
<script src="/Scripts/HomepageJS/common.js"></script>


@if (@ViewBag.Message != null)
{
    <script type="text/javascript">
        $(function () {
            alert("@ViewBag.Message");
        });
    </script>
}
</body>
</html>
